<%- include('header', { title: 'تحديث كلمة المرور' }) %>
<div class="content" style="width: 500px; height: 400px; background-color: rgb(211, 205, 204); border-radius:14px;margin: auto; color: white; box-shadow: 2px 3px 4px navajowhite;">
    <form action="/update-password/<%= patientId %>" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="password" placeholder="كلمة المرور الجديدة" name="newPassword" style="border: none; background-color: rgb(17, 197, 234); width: inherit; display: block; color: white;">
        <button type="submit" style="border: none; background-color: navy;  background-color:  rgb(17, 197, 234); display: block; color: white; cursor: pointer; width:70%; margin: auto; height: 20px;">تحديث</button>
    </form>
    <% if (error) { %>
        <div style="color: red; text-align: center; margin-top: 20px;">
            <%= error %>
        </div>
    <% } %>
</div>
<%- include('footer') %>